<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div class="page-container">
      <header>
        <% include ./partials/header %>
      </header>
      <div class="content-container">
        <h1>Register</h1>
        <form method="POST" action="/user/create">
          <div class="form-spacer">
            desired username:<br>
            <input type="text" name="username" value="" placeholder="username">
          </div>
          <div class="form-spacer">
            desired password:<br>
            <input type="password" name="password" value="" placeholder="password">
          </div>
          <div class="form-spacer">
            <input type="submit" value="Submit">
          </div>
          <div class="form-spacer">
            <a href="./login">Login</a>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
